<div class="page-content">
  <h1 i18n>{{ 'contactHeader' | translate}}</h1>
  <section [innerHTML]=" 'contact' | translate"></section>
    <!-- <section>
    <form>
      <label i18n for="name">Your Name:</label>
      <input type="text" id="name" />

      <label i18n for="email">Your email:</label>
      <input i18n type="email" id="email" />

      <label i18n for="message">Your Message:</label>
      <textarea i18n id="message" ></textarea>

      <button i18n type="submit">Send</button>
    </form>
  </section> -->
</div>
