.language-switcher {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  position: relative;
  padding: 0;
  margin: 0;
  background: none;
  box-shadow: none;
  border: none;
}

select {
  padding: 10px 15px;
  border: 2px solid #6200ee;
  border-radius: 25px;
  /* background-color: white; */
  font-size: 14px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  outline: none;
}

select:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #6200ee;
}

select:hover {
  border-color: #3700b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

select:focus {
  outline: none;
  border-color: #3700b3;
  box-shadow: 0 6px 12px rgba(98, 0, 238, 0.3);
}

option {
  font-size: 14px;
  color: #333;
  background-color: white;
  padding: 10px;
}

.sticky-switcher {
  position: sticky;
  bottom: 10px;
}

.transparent-switcher {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}
