.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #f6ff73;
  color: white;
}

nav {
  display: flex;
  gap: 1rem;
}

.spacer {
  flex: 1;
}

.sticky-menu {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.transparent-menu {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.toggle-btn {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.toggle-btn:hover {
  color: #ddd;
}
