@if (enabled) {
  <mat-toolbar color="primary" class="top-menu" [ngClass]="{'sticky-menu':config.sticky, 'transparent-menu': isTransparent}">
  <mat-toolbar-row>
    <button mat-button class="toggle-btn" (click)="toggleSidebar()">☰</button>
    <app-language-switcher />

    <span class="spacer"></span>
    <nav>

      <!-- <button (click)="translateText('en')">EN</button>
      <button (click)="translateText('ro')">RO</button> -->
      <!-- <h4 style="color: black;">{{'english' | translate}}</h4> -->
      @for (item of menuItems; track menuItems) {
        @if (item.enabled) {
          <a mat-button [routerLink]="item.link" routerLinkActive="active">{{ item.label | translate }}</a>
        }
      }
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
}
