@if (enabled) {
  <mat-toolbar color="primary" class="top-menu" [ngClass]="{'sticky-menu':config.sticky, 'transparent-menu': isTransparent}">
  <mat-toolbar-row>
    <button mat-button class="toggle-btn" (click)="toggleSidebar()">☰</button>
    <app-language-switcher />

    <span class="spacer"></span>
    <nav>
      @for (item of menuItems; track item) {
        @if (item.enabled) {
          <a mat-button [routerLink]="item.link" routerLinkActive="active">{{ item.label | translate }}</a>
        }
      }
      @if (!isAuthenticated) {
        <a mat-button [routerLink]="'/auth'">{{ 'My Account' | translate }}</a>
      }
      @if (isAuthenticated) {
        <a mat-button [routerLink]="'/preferences'">{{ 'hi' | translate }} {{userName}}</a>
      }
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
}
