<div class="page-content">
  <h1 i18n>{{ 'aboutHeader' | translate}}</h1>

  <p i18n>{{ 'aboutT1' | translate }}</p>

  <section>
    <h2 i18n>{{ 'aboutH2' | translate }}</h2>
    <p i18n>{{ 'aboutT2' | translate }}</p>
  </section>

  <section>
    <h2 i18n>{{ 'aboutH3' | translate }}</h2>
    <p i18n>{{ 'aboutT3' | translate }}</p>
  </section>

  <section>
    <h2 i18n>{{ 'aboutH4' | translate }}</h2>
    <p i18n>{{ 'aboutT4' | translate }}</p>
    <ul [innerHTML]=" 'aboutL' | translate "></ul>
  </section>

</div>
