<div class="page-content">
  <h1 i18n>{{ 'countriesHeader' | translate}}</h1>

  <div class="container">

    <app-spinner></app-spinner>
    <app-error [showError]="showErrorNotification" [errorMessage]="errorMessage"></app-error>


    <h2>{{ 'select1' | translate }}</h2>
    <select class="custom-select"
            [(ngModel)]="selectedContinent"
            (change)="onContinentSelect(selectedContinent)">
      <option value="" disabled selected>{{'dummyS1' | translate}}</option>

      @for (continent of continents; track continent) {
      <option [value]="continent.name">{{ continent.name }}
      </option>
      }
    </select>

    @if (countries.length > 0) {
      <h2>{{ 'select2' | translate }}</h2>
      <select class="custom-select" [(ngModel)]="selectedCountry" (change)="fetchCities()">
        <option value="" disabled selected>{{'dummyS2' | translate}}
        </option>
        @for (country of countries; track country) {
        <option [value]="country.name">{{ country.name }}</option>
        }
      </select>
    }

    @if (cities.length > 0) {
    <h2>{{ 'select3' | translate }}</h2>
    <select class="custom-select">
      <option value="" disabled selected>{{'dummyS3' | translate}}
      </option>
      @for (city of cities; track city) {
      <option [value]="city">{{ city }}</option>
      }
    </select>
    }

  </div>
  <button class="custom-button" type="button"
          (click)="resetSelections()">{{ 'resF' | translate }}</button>

</div>
