<div class="page-content">
  <h1 i18n>{{ 'countriesHeader' | translate}}</h1>

  <div class="container">

    <app-spinner></app-spinner>
    <app-error [showError]="showErrorNotification" [errorMessage]="errorMessage"></app-error>


    <h2>Select a Country</h2>
    <select class="custom-select"
            [(ngModel)]="selectedCountry"
            (change)="fetchCities()">
      <option value="" disabled selected>-- Select a country
        --</option>

      @for (country of countries; track country.code) {
      <option [value]="country.code">{{ country.name }}
      </option>
      }
    </select>

    @if (cities.length > 0) {
    <h2>Select a City</h2>
    <select class="custom-select">
      <option value="" disabled selected>-- Select a city --
      </option>
      @for (city of cities; track city) {
      <option [value]="city">{{ city }}</option>
      }
    </select>
    }
  </div>
  <button class="custom-button" type="button"
          (click)="resetSelections()">Reset Form</button>

</div>
