<div class="preferences-container">
  <div class="preferences-header">
      <h2>{{'prefH' | translate}}</h2>
  </div>

  <app-spinner></app-spinner>
  <app-error [showError]="showErrorNotification" [errorMessage]="errorMessage"></app-error>

  <div class="form-group">
      <label for="language">Language</label>
      <select id="language" [(ngModel)]="selectedLanguage">
          @for(language of languages; track language) {
            <option [value]="language.key">
              {{ language.value | translate }}
            </option>
          }
      </select>
  </div>
  <div class="form-group">
      <label for="theme">Theme</label>
      <select id="theme" [(ngModel)]="selectedTheme">
          <option value="light">{{'Light' | translate}}</option>
          <option value="dark">{{'Dark' | translate}}</option>
      </select>
  </div>
  <div>
      <button (click)="savePreferences()" class="btn-save">
          {{'Save' | translate}}
      </button>
  </div>
</div>
