<div class="page-content">
  <h1 i18n>{{ 'homeHeader' | translate}}</h1>
  <p i18n>{{ 'homeT1'  | translate }}</p>
  <section>
    <h2 i18n >{{ 'homeH2' | translate }}</h2>
    <p i18n>{{ 'homeT2' | translate }}</p>
    <ul>
      <li i18n [innerHTML]="'homeL1' | translate"></li>
      <li i18n [innerHTML]="'homeL2' | translate"></li>
      <li i18n [innerHTML]="'homeL3' | translate"></li>
      <li i18n [innerHTML]="'homeL4' | translate"></li>
    </ul>
  </section>
  <section>
    <h2 i18n>{{ 'homeH3' | translate }}</h2>
    <p i18n>{{ 'homeT3' | translate }}</p>
  </section>
</div>
