<div class="page-content">
  <h1>{{ 'homeHeader' | translate}}</h1>
  <p>{{ 'homeT1'  | translate }}</p>
  <section>
    <h2>{{ 'homeH2' | translate }}</h2>
    <p>{{ 'homeT2' | translate }}</p>
    <ul>
      <li [innerHTML]="'homeL1' | translate"></li>
      <li [innerHTML]="'homeL2' | translate"></li>
      <li [innerHTML]="'homeL3' | translate"></li>
      <li [innerHTML]="'homeL4' | translate"></li>
    </ul>
  </section>
  <section>
    <h2>{{ 'homeH3' | translate }}</h2>
    <p>{{ 'homeT3' | translate }}</p>
  </section>
</div>
